.wrapper {
  width: 100%;
  height: 100vh;
}

.button {
  background-color: #e4d9b9;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.button__open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal-window {
  display: none;
  z-index: 1;
  width: 500px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #e4d9b9;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}





.traffic-lights__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.traffic-lights {
    margin: 0 auto;
    width: 200px;
    height: 470px;
    background-color: #808080;

    &--light {
        display: flex;
        flex-direction: column;
    }
    &--red {
        background-color: red;
        border-radius: 50%;
        width: 100%;
        height: 150px;
    }
    &--yellow {
        background-color: yellow;
        border-radius: 50%;
        width: 100%;
        height: 150px;
    }
    &--green {
        background-color: green;
        border-radius: 50%;
        width: 100%;
        height: 150px;
    }
    &__button {
        width: 150px;
        height: 50px;
        background-color: #808080;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}
