.background {
  background-image: linear-gradient(
    to bottom,
    #333e83,
    #364185,
    #384387,
    #3a4689,
    #3d498b,
    #404b8d,
    #434e90,
    #465092,
    #4b5396,
    #50559a,
    #54589d,
    #595ba1
  );
}

.hero-banner {
  width: 100%;
  height: 100%;
  position: relative;

  &__wrapper {
    width: 100%;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: 700px;
  }

  &__title {
    position: absolute;
    left: 30%;
    top: 40%;

    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 0 transparent, 0 0 10px #333e85, 0 0 20px #2d5aa0,
      0 0 30px #2776b9, 0 0 40px #2992cf;
    animation: animate 2s infinite alternate;
  }
}

@keyframes animate {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

.introduction {
  color: #fff;
  padding: 60px;
  margin-top: -4.9px;

  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
  }
}

.description {
  width: 100%;
  height: 100%;
  color: #fff;

  &__wrapper {
    margin: 0 auto;
  }

  &__intro {
    max-width: 800px;
    margin: 0 auto;
  }
  &__title {
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
  }

  &__movies {
    display: flex;
    height: 55vh;
    justify-content: center;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      transparent,
      transparent,
      rgba(0, 0, 0, 0.3)
    );
  }

  &__content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 290px;
  }

  &__text {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__poster-wrapper {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .description__poster {
    width: 200px;
    height: auto;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .middle-poster {
    position: relative;
    z-index: 1;
    transform: translateY(-5%);
    box-shadow: 0px 2px 30px -3px #000000;
    opacity: 1;
  }

  .description__poster:first-child {
    margin-right: -90px;
  }

  .description__poster:last-child {
    margin-left: -90px;
  }

  .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.7);
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }
}

