.header {
  background: #d9d9d9;
  height: 48px;
  width: 100%;
  &__wrapper {
    display: flex;

    &-logo {
      background: #f1f2ae;
      width: 181px;
      height: 37px;
      margin-left: 26px;
      margin-top: 6px;
    }

    &-name {
      align-items: center;
      margin: 0 auto;
    }
  }
  &__span {
    display: flex;
    gap: 19px;
    margin-right: 19px;
    margin-top: 6px;
    &-item {
      background: #e7efd6;
      width: 46px;
      height: 37px;
    }
  }
}

.main {
  background: #d9d9d9;
  width: 810px;
  height: 437px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
