@import url(./_reset);
@import url(./_variables);
@import url(./assets/fonts/stylesheet.css);
.body {
  display: flex;
  box-sizing: border-box;
}

.sidebar-nav {
  background: #283046;
  width: 80px;
  position: relative;
  transition: width 2s, height 2s, transform 2s;
}

.sidebar-nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  cursor: pointer;
}
.sidebar-nav_item svg {
  fill: #bdbdbd;
}
.sidebar-nav_item:hover {
  background: #9e8cfc;
  box-shadow: 0 0 20px rgba(158, 140, 252, 0.7);
}
.sidebar-nav_item:hover svg {
  fill: white;
}
.sidebar-nav_item:hover .sidebar-nav__text {
  color: white;
}

.lightBoard {
  display: flex;
  height: 62px;
  justify-content: center;
  padding-top: 30px;
  margin: 0 auto 40px auto;
}

.lines {
  height: 25px;
  margin-top: 30px;
  text-align: center;
}

.switch--view {
  z-index: 1;
  background-image: url("./assets/img/right.svg");
  position: absolute;
  height: 20px;
  width: 20px;
  top: 36px;
  right: -10px;
}

.sidebar-nav__link {
  display: flex;
  justify-content: center;
  height: 60px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.sidebar-nav__text {
  display: none;
  font-family: "montserratthin";
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.switch-view__full {
  background-image: url("./assets/img/left.svg");
}

.sidebar-nav__full {
  width: 110px;
}
.sidebar-nav__full .sidebar-nav__text {
  display: block;
}
.sidebar-nav__full .sidebar-nav__link {
  justify-content: space-between;
}

.main {
  background-color: #161d31;
  width: 100%;
}

.header {
  height: 80px;
  margin: 30px 80px 20px 80px;
  background: #283046;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-panel svg {
  fill: #bdbdbd;
}
.quick-panel svg:hover {
  fill: white;
}
.quick-panel .icon {
  width: 26px;
  height: 26px;
  margin-right: 20px;
  cursor: pointer;
}
.quick-panel .icon:last-child {
  margin-right: 0;
}

.quick-settings {
  display: flex;
  justify-content: space-between;
  width: 374px;
}
.quick-settings svg {
  fill: #bdbdbd;
}
.quick-settings svg:hover {
  fill: white;
}
.quick-settings .icon {
  width: 26px;
  height: 26px;
  margin-right: 20px;
  cursor: pointer;
}
.quick-settings .icon:last-child {
  margin-right: 0;
}

.lang__settings img {
  margin-right: 20px;
}
.lang__settings span {
  font-family: "montserratthin";
  font-size: 18px;
  line-height: 22px;
  color: #bdbdbd;
}

.content {
  margin: 0 80px 130px 80px;
}
.content img {
  width: 100%;
}

.quick-panel svg,
.quick-settings svg {
  fill: #bdbdbd;
}
.quick-panel svg:hover,
.quick-settings svg:hover {
  fill: white;
}
.quick-panel .icon,
.quick-settings .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.quick-panel .icon:last-child,
.quick-settings .icon:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .sidebar-nav_item {
    max-height: 60px;
    justify-content: center;
  }
  .sidebar-nav_item svg {
    width: 24px;
    height: 24px;
  }
  .sidebar-nav_item .sidebar-nav__text {
    display: none;
  }
  .sidebar-nav__link {
    height: 60px;
    justify-content: center;
    flex-direction: row;
    margin-right: 0;
  }
  .sidebar-nav__link .sidebar-nav__text {
    display: none;
  }
  .quick-panel .icon,
  .quick-settings .icon {
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }
  .quick-panel .icon:last-child,
  .quick-settings .icon:last-child {
    margin-right: 0;
  }
}
.quick-panel svg,
.quick-settings svg {
  fill: #bdbdbd;
}
.quick-panel svg:hover,
.quick-settings svg:hover {
  fill: white;
}
.quick-panel .icon,
.quick-settings .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.quick-panel .icon:last-child,
.quick-settings .icon:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .quick-panel .icon,
  .quick-settings .icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }
  .quick-panel .icon:last-child,
  .quick-settings .icon:last-child {
    margin-right: 0;
  }
}
