@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

$font-profile: 'Open Sans', sans-serif;
$font-size: 14px;
$line-height: 14px;

$font-main: 'Raleway';
$main-font-size: 18px;
$main-subfont-size: 24px;

$font-logo: 'Roboto';
$font-logo-size: 60px;