.email2 :not(#email) {
    width: 245px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.photo {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.avatar {
  position: absolute;
  flex-direction: row;
}

.fileupload input {
  position: absolute;
  left: 100px;
  margin-top: 20px;
  width: 170px;
  height: 30px;
}

.fileupload img {
  position: absolute;
  flex-direction: row;
  top: 11px;
  left: 250px;
  margin-top: 20px;
  width: 14px;
  height: 12px;
  cursor: pointer;
}
.reset {
  position: absolute;
  right: 365px;
  
}

.reset input {
  width: 30px;
}

.reset img {
  left: 111px;
}

.name {
  position: relative;
  margin-top: 100px;
}

span {
  position: absolute;
  top: 60px;
  left: 100px;
}

.contacts {
  display: flex;
  margin-top: 20px;
  gap: 12px; 
}

.zip {
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  flex-direction: column;
}

.update {
  background: #007bff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  width: 150px;
  height: 38px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}