
@import url(./assets/fonts/webfontkit-20230308-113447/stylesheet.css);

* {
    margin: 235 auto;
    padding: 0 auto;
}

body {
    background-color: #FFFFFF;
    font-family: 'gilroymedium';
    position: relative;
    width: 1440px;
    height: 4521px;
}

.name {
    width: 300px;
    height: 60px;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-top: 12px;
    margin-left: 235px;
}
/*=== navbar=== */
.main-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 40px;
    width: 496px;
    height: 30px;
}

.nav-link1 {
    color: #070707;
}

.nav-link2 {
    color: #828282;
}

img {
    width: 970px;
    height: 387px;
    flex-grow: 0;
    margin-left: 235px;
    margin-right: 235px;
}
.about {
    background-color: #F6F6F6;
    padding: 10px 40px;
    isolation: isolate;
    display: flex;
}

.text-center {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}

.prg {
    margin-left: 480px;
    margin-right: 480px; 
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.prg2 {
    margin-left: 517px;
    margin-right: 517px; 
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.skills {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-skills {
    gap: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 46px;
    margin-top: 10px;
}

.paragr {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 97px;  
    margin-top: 56.7px;   
}

.photoshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 170px;
    height: 230px;
}

.ps {
    width: 80px;
    height: 80px;
      
}
 .aillust {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 170px;
    height: 230px;
 }

.aeffects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 170px;
    height: 230px;

}

.ae {
    width: 80px;
    height: 80px;
}

.ai {
    width: 80px;
    height: 80px;
}

.fg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 70px;
    width: 170px;
    height: 230px;
}

.figma {
    width: 53.33px;
    height: 80px;
}

.rating1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 170px;
    height: 26px;
}

.text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
    width: 90px;
    height: 38px;
}

.portfolio {
    background-color: #F6F6F6;
    width: 1450px;
    height: 2268px;
    left: 235px;
    top: 1653px;
}

.text-portfolio {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    margin-left: 645px;
    margin-right: 645px;
    padding-top: 100px;
    margin-top: 100px;
    padding-bottom: 1px;
}

.works{
    width: 970px;
    height: 540px;
    margin-top: 50px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 970px;
    height: 400px;
    margin-left: 235px;
    margin-right: 2235px;
    top: 4021px;
    text-align: center;
}

button {
    background-color: #070707;
    border-radius: 22px;
    width: 180px;
    height: 44px;
    color: #FFFFFF;
    margin-top: 10px;
}

.group {
    width: 310px;
    height: 40px;
    margin-left: 250px;
    padding-top: 30px;
}

.end {
    width: 200px;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}
