.section1 {
  padding: var(--pd-section) 0;
  background: url(../../exam/assets/img/why-background.jpg) center bottom /
    cover no-repeat;

  &-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  &-description {
    flex: 0 0 50%;
    padding: 50px 5px 0px 0px;

    &__title {
      font-size: 36px;
      line-height: 1;
      color: $color-title;
      @include font-aleo;
      margin-bottom: 24px;
      text-transform: capitalize;
    }
    &__text {
      @include text;
      padding-bottom: 32px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
  &-images {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 80px;

    &__image {
      max-width: 350px;
      width: 100%;
      img {
        max-width: 350px;
        width: 100%;
        object-fit: cover;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:nth-child(odd) {
        align-self: flex-start;
      }
      &:nth-child(even) {
        align-self: flex-end;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    background: url(../../exam/assets/img/WhyBackground-768.jpg) center bottom /
      cover no-repeat;

    &-images {
      padding-left: 25px;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 100px 40px;

    &-description {
      padding-top: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 100px 0;

    &-container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    &-description {
      padding-top: 30px;
      padding-right: 0;

      &__title {
        text-align: center;
      }
      &__text {
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 1.65em;
        color: $color-title;
        font-weight: 400;
        height: 100%;
        max-height: 140px;
        width: 100%;
        max-width: 720px;
        text-align: center;
      }

      .btn {
        margin: 0 auto;
        margin-left: 257px;
        margin-top: 24px;
      }
    }

    &-images {
      flex-direction: row;
      padding: 0;

      &__image {
        &:not(:last-child) {
          margin: 0;
          margin-right: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 90px 0;

    &-description {
      padding-top: 15px;

      &__title {
        margin-bottom: 30px;
      }
      &__text {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      .btn {
        margin: 0 auto;
        margin-left: 160px;
        margin-top: 24px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    padding: 90px 0;

    &-description {
      padding-top: 15px;

      &__title {
        margin-bottom: 30px;
      }
      &__text {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      .btn {
        margin: 0 auto;
        margin-left: 40px;
        margin-top: 24px;
      }
    }
  }
}
