.footer {
  background-color: $background-black;
  padding: 80px 0 60px 0;
  &-logo {
    @include text;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 0 0 10px 0;
  }
  &__subtitle {
    @include text;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    margin: 0 0 30px 0;
  }
  &-social {
    display: flex;
    justify-content: center;
  }
  &__social-link {
    &:not(:last-child) {
      margin: 0 35px 0 0;
    }

    svg {
      transition: all 0.4s;
      width: 32px;
      height: 32px;
      fill: $color-title;
      text-decoration: none;
    }
    &:hover .facebook {
      fill: $color-button;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 100px 0 50px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 70px 0 40px 0;
  }
  @media screen and (max-width: 565px) {
    padding: 70px 0;
  }
}
