.header {
  &__top {
    background-image: url("../../exam/assets/img/header.jpg");
    @include background;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    text-align: center;
    padding-top: 295px;

    &--title {
      font-family: $josefin;
      font-weight: 700;
      font-size: 48px;
      line-height: 52px;
      text-transform: uppercase;
      color: $color-title;
    }
    &--text {
      padding-top: 8px;
      font-family: $josefin;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.31em;
      color: $color-title;
    }
  }

  &__form {
    max-width: 100%;
    width: 647px;
    padding-bottom: 211px;
    padding-top: 48px;

    &--info {
      display: flex;
      justify-content: space-between;
      max-height: 60px;
      background: $color-title;
      padding: 2px;
    }

    &--input {
      font-family: $josefin;
      font-size: 1.8rem;
      flex: 1;
      outline: none;
      border: none;
      &::placeholder {
        font-family: $josefin;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.2em;
        color: $color-text-input;
      }
      padding: 20px 36px;
    }
  }

  .btn {
    @include button;
    display: flex;
    align-items: center;
    gap: 10px;
    @include font-aleo;
    svg {
      fill: $color-title;
      width: 16px;
      height: 16px;
    }
  }

  &__scroll {
    padding-bottom: 120px;
    &--link {
      text-decoration: none;
      font-family: $josefin;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2em;
      color: $color-title;

      span {
        display: block;
        text-align: center;
        i {
          color: $color-title;
          font-size: 14px;
          animation: moveArrow 0.8s infinite alternate;
        }
      }
    }
  }

  &__nav {
    background: $color-button;
    padding: 30px 0px;
    color: $color-title;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 80px;
      padding-right: 110px;
    }
    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding-left: 4.2rem;
      a {
        text-transform: uppercase;
        text-decoration: none;
        @include font-aleo;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        color: $color-title;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__logo {
    font-family: $josefin;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-title;
  }
}

@media screen and (max-width: 1360px) and (min-width: 1024px) {
  .header {
    &__top {
      background-image: url("../../exam/assets/img/HeaderBackground.jpg");
      @include background;
      background-position: center;
      .wrapper {
      //   padding-left: 30px;
      // padding-right: 30px;
      }
    }
    
    &__nav {
      background: $color-button;
      padding: 30px 30px;
      color: $color-title;
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1025px) and (min-width: 768px) {
  .header {
    &__top {
      background-image: url("../../exam/assets/img/HeaderBackground-1024.jpg");
      @include background;
      background-position: center;
    }
    &__nav {
        background: $color-button;
        padding: 30px 10px;
        color: $color-title;
        .wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          padding-left: 47px;
      padding-right: 46px;
          ul {
            display: flex;
            list-style: none;
          }
          li {
            padding-left: 1rem;
          }
        }
    }
  }
}

@media screen and (max-width: 769px) and (min-width: 576px) {
  .header {
    &__top {
      background-image: url("../../exam/assets/img/HeaderBackground-768.jpg");
      @include background;
      background-position: center;
    }
    &__form {
        max-width: 100%;
        width: 547px;
        padding-bottom: 211px;
        padding-top: 48px;
    
        &--info {
          display: flex;
          justify-content: space-between;
          max-height: 60px;
          background: $color-title;
          padding: 2px;
        }
    }

    &__nav {
      background: $color-button;
      padding: 30px 10px;
      color: $color-title;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
      padding-right: 10px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        flex-direction: row;
      }
      li {
        padding-left: 2rem;
        padding-top: 1rem;
        // a {
        //     display: flex;
        //     justify-content: center;
        //     // margin-right: -15px;
        //     // margin-left: 10px;
        //   }
      }
    
  }
}
}

@media screen and (max-width: 577px) and (min-width: 320px){
  .header {
    &__top {
      background-image: url("../../exam/assets/img/header.jpg");
      @include background;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {
      text-align: center;
      padding-top: 295px;
    }

    &__form {
      max-width: 100%;
      width: 520px;
      padding-bottom: 211px;
      padding-top: 48px;

      &--info {
        display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        max-height: 60px;
        background: $color-title;
        padding: 2px;
      }

      &--input {
        font-family: $josefin;
        font-size: 1.8rem;
        flex: 1;
        outline: none;
        border: none;
        &::placeholder {
          font-family: $josefin;
          font-weight: 400;
          font-size: 14px;
          line-height: 1;
          letter-spacing: 0.2em;
          color: $color-text-input;
        }
        padding: 20px 36px;
      }
    }

    .btn {
      @include button;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      align-items: center;
      gap: 10px;
      @include font-aleo;
      svg {
        fill: $color-title;
        width: 16px;
        height: 16px;
      }
    }

    &__scroll {
      padding-bottom: 120px;
      &--link {
        text-decoration: none;
        font-family: $josefin;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2em;
        color: $color-title;

        span {
          display: block;
          text-align: center;
          i {
            color: $color-title;
            font-size: 14px;
            animation: moveArrow 0.8s infinite alternate;
          }
        }
      }
    }
    .only-responsive {
      display: inline-block;
    }
    &__nav .wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .hamburger {
        position: absolute;
        top: 10px;
        right: 30px;
        transform: translateY(-50%);
        width: 30px;
        height: 24px;
        &.open {
          span {
            &:first-child {
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
            }
            &:nth-child(2) {
              display: none;
            }
            &:last-child {
              top: 50%;
              transform: translateY(-50%) rotate(-45deg);
            }
          }
        }
        span {
          transition: transform 0.3s ease;
          width: 100%;
          height: 3px;
          background: $color-title;
          position: absolute;
          left: 0;
          &:first-child {
            top: 0;
          }
          &:nth-child(2) {
            top: 8px;
          }
          &:last-child {
            top: 16px;
          }
        }
      }
      ul {
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        margin-left: -50px;
        li {
    
          margin-bottom: 20px;
          justify-content: center;
          align-items: center;
          &:last-child {
            margin-bottom: 0px;
          }
        }
        &.open {
          position: relative;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) and (min-width: 320px) {
  .header {
    &__top {
      background-image: url("../../exam/assets/img/header.jpg");
      @include background;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {
      text-align: center;
      padding-top: 295px;
    }

    &__form {
      max-width: 100%;
      width: 320px;
      padding-bottom: 211px;
      padding-top: 48px;

      &--info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 60px;
        background: $color-title;
        padding: 2px;
        margin-left: 0px;
      }

      &--input {
        font-family: $josefin;
        font-size: 1.8rem;
        flex: 1;
        outline: none;
        border: none;
        max-height: 50px;
        &::placeholder {
          font-family: $josefin;
          font-weight: 400;
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0.2em;
          color: $color-text-input;
        }
        padding: 20px 36px;
      }
    }
    .btn {
      @include button;
      display: flex;
      justify-content: center;
      margin-left: 80px;
      align-items: center;
      gap: 10px;
      @include font-aleo;
      svg {
        fill: $color-title;
        width: 16px;
        height: 16px;
      }
    }
  }
}

// .header {
//   background: url(/assets/img/header-bg.jpg) center top/cover no-repeat;
//   padding: 250px 0 215px;
//   position: relative;

//   &__container {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//   }

//   &__title {
//       font-size: 48px;
//       letter-spacing: 5px;
//       line-height: 1.5em;
//       text-align: center;
//   }
//   &__subtitle {
//       font-size: 22px;
//       letter-spacing: 7px;
//       line-height: 1.5em;
//       color: rgba($color: #fff, $alpha: 0.75);
//       text-align: center;
//       margin-bottom: 50px;
//   }
//   &-form {
//       border: 2px solid var(--color-white);
//       max-width: 650px;
//       width: 100%;
//       font-size: 0;
//       display: flex;
//       background-color: #fff;
//       margin-bottom: 120px;
//   }
//   &__search-input {
//       flex: 1 1 77%;
//       margin-right: 5px;
//       padding: 1.25em 0.5em;

//       font-size: 16px;
//       letter-spacing: 3px;
//       line-height: 1;
//       color: #232323;
//       text-align: center;

//       border: none;
//       outline: none;

//       &::placeholder {
//           font-size: 14px;
//           letter-spacing: 3px;
//           line-height: 26px;
//           color: #999999;
//           text-align: center;
//       }
//   }
//   &__search-button {
//       position: relative;
//       flex: 1 1 23%;
//       font-size: 14px;
//       letter-spacing: 1px;
//       line-height: 1.5em;
//       color: #ffffff;
//       font-weight: 400;
//       font-family: "Aleo", serif;
//       text-align-last: left;
//       background-color: #5373fd;
//       border: none;
//       outline: none;
//       padding-left: 35px;

//       i {
//           position: absolute;
//           top: 50%;
//           right: 15px;
//           transform: translateY(-50%);
//           font-size: 24px;
//           padding-left: 10px;
//       }

//       &:hover,
//       &:focus {
//           filter: hue-rotate(-10deg) saturate(155%);
//       }
//       &:focus {
//           outline: auto;
//       }

//       &:active {
//           transform: scale(0.95);
//           box-shadow: inset 0 0 4px 2px rgba($color: #000000, $alpha: 0.3);
//       }
//   }
//   &__scroll {
//       text-align: center;
//       font-size: 14px;
//       letter-spacing: 3px;
//       line-height: 1.5em;
//       color: #ffffff;
//       text-decoration: none;

//       &:hover img,
//       &:focus img {
//           animation: scroll-img-animation 0.7s ease-in-out 0s infinite alternate;
//       }
//   }
//   &__navigation {
//       position: absolute;
//       bottom: 0;
//       z-index: 2;
//   }

//   .nav {
//       background-color: #5373fd;
//       padding: 30px 0;
//       width: 100%;

//       &-container {
//           justify-content: space-between;
//           align-items: center;
//           position: relative;
//       }

//       &__logo {
//           font-size: 24px;
//           letter-spacing: 2px;
//           line-height: 26px;
//       }
//       &-menu {
//           &__burger {
//               display: none;
//               width: 42px;
//               height: 35px;
//               background-color: transparent;
//               position: relative;
//               z-index: 5;

//               span {
//                   position: absolute;
//                   top: 50%;
//                   transform: translateY(-50%);
//                   width: 100%;
//                   height: 4px;
//                   background-color: #fff;
//               }

//               &::before,
//               &::after {
//                   content: "";
//                   position: absolute;
//                   width: 100%;
//                   height: 4px;
//                   background-color: #fff;
//               }

//               &::before {
//                   top: 0;
//               }

//               &::after {
//                   bottom: 0;
//               }
//           }
//           &__list {
//               justify-content: flex-end;
//           }
//           &__item {
//               position: relative;
//               margin-left: 40px;

//               a {
//                   font-size: 14px;
//                   line-height: 1;
//                   color: #ffffff;
//                   font-weight: 400;
//                   font-family: "Aleo";
//                   text-decoration: none;

//                   &::before {
//                       content: "";
//                       width: 100%;
//                       height: 1px;
//                       position: absolute;
//                       bottom: -25px;
//                       background-color: #fff;
//                       transition: all 0.5s ease-out;
//                   }

//                   &:not(:hover)::before {
//                       opacity: 0;
//                       visibility: hidden;
//                   }

//                   &:hover::before,
//                   &:focus::before {
//                       opacity: 1;
//                       visibility: visible;
//                       transform: translateY(-20px);
//                   }
//               }
//           }
//       }
//   }

//   @media screen and (max-width: 1023px) {
//       background: url(/assets/img/header-bg-M.jpg) center top/cover no-repeat;
//   }

//   @media screen and (max-width: 767px) {
//       padding: 150px 0;

//       &-form {
//           border: none;
//           max-width: 450px;
//           flex-direction: column;
//           align-items: center;
//           background-color: transparent;
//           margin-bottom: 90px;
//       }
//       &__search-input {
//           flex: none;
//           width: 100%;
//           margin: 0 0 25px 0;
//       }
//       &__search-button {
//           flex: none;
//           width: 150px;
//           height: 50px;
//           border: 2px solid #fff;
//       }

//       .nav {
//           padding: 25px 0;

//           &-menu {
//               &__burger {
//                   display: block;

//                   span {
//                       transition: all 0.2s ease 0.1s;
//                   }

//                   &::before {
//                       animation: burger-before-revers 0.2s forwards;
//                   }

//                   &::after {
//                       animation: burger-after-revers 0.2s forwards;
//                   }
//               }
//               &__list {
//                   display: none;
//                   right: -100%;
//                   transition: all 0.5s ease-out;
//               }
//           }

//           .active {
//               .nav-menu__burger {
//                   span {
//                       opacity: 0;
//                       visibility: hidden;
//                   }

//                   &::after {
//                       animation: burger-after 0.2s forwards;
//                       transform: translateY(50%) rotate(-45deg);
//                       transition: transform 0.3s ease-in-out 0.2s;
//                   }
//                   &::before {
//                       animation: burger-before 0.2s forwards;
//                       transform: translateY(-50%) rotate(45deg);
//                       transition: transform 0.3s ease-in-out 0.2s;
//                   }
//               }

//               .nav-menu__list {
//                   display: flex;
//                   flex-direction: column;
//                   align-items: center;
//                   position: absolute;
//                   right: 0;
//                   top: -25px;
//                   width: 50%;
//                   background-color: rgba($color: #000000, $alpha: 0.9);
//                   padding: 90px 15px 15px 15px;
//               }

//               .nav-menu__item {
//                   margin: 0;

//                   a {
//                       line-height: 2em;
//                       font-size: 20px;

//                       &::before {
//                           bottom: -5px;
//                       }

//                       &:hover::before,
//                       &:focus::before {
//                           transform: translateY(-15px);
//                       }
//                   }
//               }
//           }
//       }
//   }

//   @media screen and (max-width: 420px) {
//       &__container {
//           padding-left: 10px;
//           padding-right: 10px;
//       }

//       &__title {
//           font-size: 35px;
//       }

//       &__subtitle {
//           font-size: 14px;
//       }

//       &__search-input {
//           font-size: 14px;

//           ::placeholder {
//               font-size: 12px;
//               letter-spacing: 0px;
//           }
//       }

//       .nav {
//           padding: 20px 0;

//           &__logo {
//               font-size: 22px;
//               position: relative;
//               z-index: 5;
//           }

//           .active {
//               .nav-menu__list {
//                   top: -20px;
//                   width: 100%;
//               }
//           }
//       }
//   }
// }

// @keyframes scroll-img-animation {
//   from {
//       transform: translateY(0%);
//   }

//   to {
//       transform: translateY(100%);
//   }
// }

// @keyframes burger-after {
//   0% {
//       bottom: 0;
//   }

//   100% {
//       bottom: 50%;
//   }
// }

// @keyframes burger-after-revers {
//   0% {
//       bottom: 50%;
//   }

//   100% {
//       bottom: 0;
//   }
// }

// @keyframes burger-before {
//   0% {
//       top: 0;
//   }

//   100% {
//       top: 50%;
//   }
// }

// @keyframes burger-before-revers {
//   0% {
//       top: 50%;
//   }

//   100% {
//       top: 0;
//   }
// }


