$color-title: #FFFFFF;
$color-text-input: #999999;
$color-button: #5373FD;
$color-button-darker: #486BFE;
$color-icon-hover: #FF6363;
$background: #333333;
$background-icon: #00A2FF;
$card: #232323E5;
$opacity: 0.8;
$blue-dark: #5474fd;
$grey-background: #333333;
$background-black: #000000;
// Fonts
$josefin: "Josefin Sans", sans-serif;
$aleo: 'Aleo', serif;


