$color-title: #FFFFFF;
$color-text-input: #999999;
$color-button: #5373FD;
$color-button-darker: #486BFE;
$color-icon-hover: #FF6363;
// Fonts
$josefin: "Josefin Sans", sans-serif;
$aleo: 'aleoregular', serif;

// Colors
$primary: #5474fd;