@import "./_reset";
@import "./_mixins";
@import "./_variables";
@import "./_responsive";
@import "./header";
@import "./_info";
@import "./_how-to";
@import "./_place";
@import "./_section4";
@import "./_testimonials";
@import "./_footer";
@import "./keyframes";
@import url("./assets/fonts/aleo/aleo.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

html {
  scroll-behavior: smooth;
}

.only-responsive {
  display: none;
}

.btn {
  text-transform: uppercase;
  color: $color-title;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  border: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  &--blue {
    background: $color-button;
    color: $color-title;
    padding: 16px 24px;
    transition: background 0.5s ease;
    &:hover {
      background: rgba($color-button, 0.5);
    }
  }
  &--two-part {
    position: relative;
    z-index: 1;
    width: 213px;
    height: 60px;
    &:hover {
      &::before {
        width: 100%;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
        background: $color-button-darker;
      }
    }
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
      clip-path: polygon(0 1%, 70% 0, 100% 100%, 0% 100%);
      background: $color-button-darker;
    }
  }
}

:root {
  --color-white: $color-title;
  --pd-section: 120px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 25px;
  box-sizing: border-box;
}

.spain-block {
  background-color: rgba($card, $opacity);
  padding: 50px 30px 50px 70px;
  flex: 0 1 49%;

  &__country {
    font-family: $josefin;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $color-title;
  }
  &__title {
    font-family: $josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: $color-title;
    margin: 16px 0 16px 0;
  }
  &__text {
    @include text;
    margin: 0 0 45px 0;
  }
  &__link {
    text-align: center;
    padding-left: 40px;
    padding-right: 50px;
  }

  @media screen and (max-width: 991px) {
    flex: 0 1 65%;
  }
  @media screen and (max-width: 767px) {
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 575px) {
    flex: 0 1 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .spain-block {
      background-color: rgba($card, $opacity);
      padding: 50px 30px 50px 70px;
      flex: 0 1 70%;
    }
  }
}
