@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.Comments {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2rem 0;

  &__title {
    font-family: "Coiny";
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  @include media-md() {
    gap: 20px;
    padding: 4rem 0;
  }
}
