@mixin title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: center;
}

@mixin subtitle {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
}