@mixin title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: center;
}

@mixin subtitle {
    font-family: "Baloo 2";
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    opacity: 0.6;
}

@mixin button {
    display: inline-block;     
    background-color: #d00ffc;
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20%;
    transition: 0.3s ease-in;
    text-align: center;
    padding: 10px;
    border: none;
    font-family: "Baloo 2";
    cursor: pointer;
    &:hover {
        background-color: #3a7dff;
      }
}