.details {
  width: 100%;
  height: 100%;
  background: #000000;

  &__wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 70px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Coiny";
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__rating {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
    text-transform: capitalize;
    color: #b756ff;
  }

  &__subtitle {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    opacity: 0.6;
  }

  &__img {
    width: 250px;
    height: 400px;
  }

  &__button {
    display: inline-block;
    width: 220px;
    padding: 10px 20px;
    background-color: #d00ffc;
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20%;
    transition: 0.3s ease-in;
    text-align: center;
    cursor: pointer;
    font-family: "Baloo 2";
    font-weight: 500;
    font-size: 11px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
    &:hover {
      background-color: #3a7dff;
    }
  }
}

.comments {
  width: 100%;
  padding-bottom: 50px;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    transition: 0.3s ease-in;
    border: 1px solid #d00ffc;
  }

  &__title {
    font-family: "Coiny";
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: row;
    height: 5vh;
    align-items: center;
  }

  .btn {
    border: none;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    margin: 0 10px;
    cursor: pointer;
  }

  .like-active {
    background-color: #3a7dff;
  }

  .dislike-active {
    background-color: #d00ffc;
  }

  &__title2 {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  &__subtitle {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    opacity: 0.75;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin: 0 auto;
  }

  &__button {
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    background-color: #d00ffc;
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20%;
    transition: 0.3s ease-in;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #3a7dff;
    }
  }
}
