@import url(./assets/fonts/webfontkit-20230308-044746/stylesheet.css);

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 80px;
}

.eng {
  position: absolute;
  margin-top: 29px;
  margin-left: 120px;
}

span {
  font-family: "Tourney", cursive;
  font-weight: 600;
  font-size: 22px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: 220px;
  margin-top: 11px;
}

.navigation {
  display: inline;
  justify-content: space-between;
}

.a1 {
  color: #000000;
  text-decoration: none;
  font-family: "staatlichesregular";
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.5em;
}

img {
  width: 238px;
  height: 54px;
  margin-left: auto;
  margin-right: 120px;
}

/*section1*/

.section1__wrapper , .section2__wrapper , .section3__wrapper , .section4__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
}

h1 {
  font-family: "francois_oneregular";
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

sup {
  font-family: "farroregular";
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

p {
    font-family: 'pt_sansregular';
    font-weight: 400;
font-size: 28px;
line-height: 48px;
}
