@import url(./assets/fonts/farro/stylesheet.css);
@import url(./assets/fonts/francoisone/stylesheet.css);
@import url(./assets/fonts/ptsans/stylesheet.css);
@import url(./assets/fonts/staatliches/stylesheet.css);
@import url(./assets/fonts/tourney/stylesheet.css);
@import url(./assets/fonts/webfontkit-20230308-102133/stylesheet.css);
@import url(./assets/fonts/webfontkit-20230308-102133/stylesheet.css);

html {
  box-sizing: border-box;

}

body {
  display: flex;
  box-sizing: border-box;
  width: 1440px;
  height: 3081px;
}

/*header*/

header {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header__wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 1355px;
  height: 80px;
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  margin-left: -77px;
}

.eng {
  position: absolute;
  margin-top: 29px;
  margin-left: 120px;
  margin-top: 21px;
}

h2 {
  font-family: "Tourney", cursive;
  font-weight: 600;
  font-size: 22px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: 220px;
  margin-top: 11px;
}

.navigation {
  display: inline;
  justify-content: space-between;
}

.a1 {
  color: #000000;
  text-decoration: none;
  font-family: "staatlichesregular";
  font-weight: 400;
  font-size: 22px;
}

img {
  width: 238px;
  height: 54px;
  margin-left: auto;
  margin-right: 0 auto;
}

/*section*/

main {
  display: flex;
  position: relative;
}

.mark::before {
  content: url(./assets/img/bg-picture.png);
  position: fixed;
  filter: alpha(opacity=60);
  background-repeat: no-repeat;
  right: 0;
}

hr.solid {
  width: 100px;
  height: 8px;
  margin-left: 4px;
  background: #000000;
}

aside {
  position: sticky;
  width: 470px;
  height: 462px;
  left: 110px;
  top: 150px;
  margin-left: 25px;
}

ul {
  list-style: none;
  padding: 10px;
}

li {
  padding: 25px;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

hr.solid2 {
  border-top: 1px solid #bbb;
  width: 400px;
}

.section1__wrapper {
  position: absolute;
  width: 785px;
  left: 535px;
  margin-top: 186px;
  transform: translate(-40px);
}

.section2__wrapper {
  position: absolute;
  width: 785px;
  height: 452px;
  margin-top: 528px;
  left: 535px;
  transform: translate(-40px);
}

.section3__wrapper {
  position: absolute;
  width: 785px;
  height: 1331px;
  left: 535px;
  margin-top: 1050px;
  transform: translate(-40px);
}

.section4__wrapper {
  position: absolute;
  width: 785px;
  left: 535px;
  margin-top: 2451px;
  transform: translate(-40px);
}

h1,
.h1 {
  font-family: "francois_oneregular";
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

sup {
  font-family: "farroregular";
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

p {
  font-family: "pt_sansregular";
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
}

.p__italic {
  font-style: italic;
}

.p__background {
  background-color: #e8e8e8;
}

.p__bold {
  font-family: "pt_sansbold";
}
