@import url('https://fonts.googleapis.com/css2?family=Lato&family=Red+Hat+Display:wght@400;500;600&display=swap'); 

@mixin small14px {
    font-family: "Lato", sans-serif;
		cursor: pointer;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		text-transform: uppercase;
		text-decoration: none;
		color: #000;
}

@mixin big600 {
    font-family: 'Red Hat Display', sans-serif;
}

@mixin lato400 {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166%;
letter-spacing: 0.05em;
color: #565656;
}

@mixin weight600 {
	font-weight: 600;
}

@mixin lato {
	flex-direction: column-reverse;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: $color;
}
