@mixin media1 {
    @media screen and (min-width: 768px) {
        .header {
          &.open .wrapper {
            padding-bottom: 70px;
          }
        }
        .nav {
          &__list {
            flex-direction: row;
            gap: 42px;
          }
          .header.open &__list {
            transform: translate(-50%) scaleY(1);
          }
          &__link {
            font-size: 14px;
            &-line {
              visibility: hidden;
              position: relative;
              top: 5px;
              left: 50%;
              height: 1px;
              width: 40px;
              background-color: $backgroundcolor;
              transform: translate(-50%, -50%) scaleX(0);
              transition: transform 0.2s ease-in-out;
            }
          }
          &__link:hover ~ &__link-line {
            visibility: visible;
            transform: translate(-50%, -50%) scaleX(1);
          }
        }
        .first-screen {
          height: 320px;
          .wrapper {
            padding-top: 30px;
          }
          &__title {
            font-size: 36px;
          }
        }
      }
}

@mixin media768 {
    @media screen and (min-width: 768px) {
        width: 90%;
      }
}

@mixin media1024 {
    @media screen and (min-width: 1024px) {
        width: 86%;
        max-width: 1200px;
      }
}

@mixin mediagap {
  @media screen and (min-width: 1024px) {
    gap: 90px;
  }
}

@mixin media1024nav {
  @media screen and (min-width: 1024px) {
    .header {
      .wrapper {
        height: 100px;
      }
      &__burger {
        display: none;
      }
      &__menu {
        gap: 84px;
      }
    }
    .nav {
      &__list {
        position: relative;
        z-index: 1;
        text-align: center;
        left: 0;
        transform-origin: top;
        transform: none;
        top: 0;
        transition: top 0.3s, transform 0.2s ease-in-out;
      }
      &__link {
        letter-spacing: 0.3em;
      }
    }
    .first-screen {
      height: 600px;
      .wrapper {
        padding-top: 100px;
      }
      &__title {
        font-size: 48px;
        line-height: 64px;
      }
    }
  }
}
