* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #3b3f45;
  color: #f9f9f9;
}

/* ====header====== */

.listhead,
.listfoot {
  display: flex;
  flex-direction: column;
  background-color: #4a4f56;
  text-align: center;
  padding: 20px 0;
  color: #eb7e7f;
}

.listhead h1 {
  font-family: "Roboto";
  color: #ff8984;
  font-weight: 1000;
  font-size: 24px;
  line-height: 28px;
}

.listhead h4 {
  font-family: "Roboto";
  font-size: 18px;
  color: #ff8984;
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px;
}

/* ====main======*/

.shoping-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
}
.shoping-list li {
  background:  #88839e;
  border: 0 solid #fff;
}

li:nth-child(2n) {
    background-color: #7a7593;
  }

li:hover {
  background: #625e77;
  border-width: 4px 0;
}

li:active {
  background: #eb7e7f;
}

.shoping-list [type="checkbox"] {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  cursor: pointer;
  margin-right: 10px;
}

.shoping-list [type="checkbox"]:checked + span {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
  color: #9b96ac;
  color: #a3a0b5;
}

.shoping-list [type="checkbox"]:checked + span .description {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
}

.shoping-list label {
  display: block;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  line-height: 21px;
}

.shoping-list .description {
  font-size: 14px;
  color: #cdcbd6;
  vertical-align: middle;
}

.shoping-list .description:before {
  content: "(";
}

.shoping-list .description:after {
  content: ")";
}

.listfoot p {
  font-weight: 400;
font-size: 18px;
font-family: 'Roboto';
}
