
html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

/*header*/

.navcontain ul {
    width: 100%;
    justify-content: space-between;
}

.logo {
    float: left;
    width: auto;
    line-height: 57px;
    margin-left: 120px;
    margin-right: 198px;
    margin-top: 5px;
}

.menu {
    display: inline;
    overflow: hidden;
    margin-left: 198px;
    margin-right: 198px;
}


.a1{
    color: #FF9900;
}

a {
    color: #2F281E;
}

nav li {
    display: inline-block;
    padding: 10px;
    align-items: center;
}

.navbutton {
    margin-top: -39px;
    float: right;
    overflow: hidden;
    margin-left: 198px;
    margin-right: 120px;
}

button {
    border: 1px solid #BCD0E5;
    background-color: #fff;
    width: 110px;
    height: 46px;
}

button:nth-child(1n):hover {
    background-color: #FF9900;
    color: #fff;
}

button:nth-child(2n) {
    background-color: #FF9900;
    color: #fff;
}

button:nth-child(2n):hover {
    background-color: #fff;
    color: black;
}

/*main*/

.first {
    position: absolute;
    width: 1200px;
    height: 495px;
    left: 120px;
    top: 151px;
} 

.left-side {
    float: left;
    width: 500px;
    height: 301px;
    margin-top: 248px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    padding-bottom: 30px;
    margin-top: -100px;
    line-height: 1.2;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #544837;
    line-height: 1.3;
}

.secondbutton {
    width: 180px;
    height: 50px;
    padding: 13px 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.right-side {
    float: right;
}



