$black: #000000;
$white: #fff;
$light-green: #13E28D;
$grey: #B7BACD;
$background: #212534;
$dark-background: #2B3040;
$inactive-background: #8D91A3;
$yellow-background: #FFDD3F;


$font-family: 'Lato', sans-serif;